/* ---------- MOBILE VIEW ---------- */



@media (max-width: 640px){

/* nav section */
   .nav-item{
    display: none; 
  }

  .nav-button{
    display: none; 
  }

  .menu-icon{
    display: block; 
  }
  /* nav section end */


  /* banner section */
  .text-container{
    margin-bottom: 20px;
  }


  /* main section  start */
   
  /*about section */
  .about-hr{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .about-rating{
    justify-content: center;
    flex-wrap: wrap;
  }

/* why choice section*/
   @media(max-width:768px){
  .grid{
    grid-template-columns:1fr;
  }

  .big,.right,.wide{
    grid-column:auto;
    grid-row:auto;
  }
}



  /* features section */
   .features-card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   /* host section */
   .host-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
   }
   .host-desc h2{
      text-align: center;
   }
   .host-desc p{
    text-align: center;
   }
}