/* ---------- MOBILE VIEW ---------- */



@media (max-width: 700px){

/* nav section */
  nav{
    padding: 20px;
  }
  .menu-icon{
    display: block;
  }

  .nav-item{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #1a0B2e;;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .nav-button{
    display: none;
  }
  #menu-toggle:checked ~ .nav-item{
    display: flex;
    flex-direction: column;
  }
  /* nav section end */


  /* banner section */
  .text-container{
    margin-bottom: 20px;
  }


  /* main section  start */
   
  /*about section */
  .about-hr{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .about-rating{
    justify-content: center;
    flex-wrap: wrap;
  }

/* why choice section*/
    .grid{
 

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}



  /* features section */
   .features-card-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   /* host section */
   .host-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
   }
   .host-desc h2{
      text-align: center;
   }
   .host-desc p{
    text-align: center;
   }
   







}