/* ---------- MOBILE VIEW ---------- */



@media (max-width: 700px){

/* nav section */
  nav{
    padding: 20px;
  }
  .menu-icon{
    display: block;
  }

  .nav-item{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #1a0B2e;;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .nav-button{
    display: none;
  }
  #menu-toggle:checked ~ .nav-item{
    display: flex;
    flex-direction: column;
  }
  /* nav section end */


  /* banner section */
  .text-container{
    margin-bottom: 20px;
  }


  /* main section  start */
   
  /*about section */
  .about-hr{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .about-rating{
    flex-wrap: wrap;
  }







}