*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #1a0B2e;
}

/* shared style */
    .container-width{
        width: 1600px;
    }
    .content-width{
        width: 1200px;
    }

    .title-color{
        color: #FFFFFF;
    }
    .background-color{
        background-color: #1a0B2e;
    }
    .rating-color{
        color: #00FF88;
    }

    .para-font{
        color: #FFFFFF;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
    .title-style{
        color: #FFFFFF;
        font-weight: bold;
        font-size: 48px;
        text-align: center;
    }






/* header section */

  /*nav section */
.menu-icon{
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}
#menu-toggle{
  display: none;
}

nav{
  display: flex; 
  align-items: center;         
  justify-content: space-around;
  padding: 20px 50px;
  background-color: #1a0B2e;
}

.nav-logo {
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
}
.nav-logo span {
  color: fuchsia;
}

.nav-item {
  display: flex;
  gap: 30px;
}
.nav-item a {
  text-decoration: none;
  color: #e1d5d5;
  font-size: 16px;
}
.nav-item a:hover {
  color: #FFFFFF;
}

.nav-button a{
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 15px;
  background: linear-gradient(90deg, #ff3cac, #784ba0, #2b86c5);
  transition: all 0.3s ease;
}
.nav-button a:hover{
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(255, 60, 172, 0.4);
}



/* hero banner */
#banner-section {
    max-width: 1600px;
    width: 100%;
    height: 556px;
    background-image: url('assets/hero-bg.png'); 
    background-size: cover; 
    background-position: center;
    margin-top: 70px;
}

.mic-circle {
    width: 250px;
    height: 250px;
    margin: 0 auto;

    background-image: url(assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 80px;
}
.mic-circle img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.text-container{
    margin-top: 120px;
    margin-bottom: 30px;
     
}

.badge{
    position: absolute;
    top: 10px;
    right: -15px;
    background-color: #00FF88;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 888px;
    box-shadow: 0 4px 12px rgba(16, 185, 129, 0.4);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.txt-p{
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}
.btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
}
.btn-spotify {
    background: linear-gradient(to right, #8b5cf6, #ec4899);
    color: white;
}
.btn-subscribe {
    background: transparent;
    border: 2px solid #8b5cf6;
    color: #00FF88;
}  /* header section end */




/* main section start */
  #about-section{
    width: 100%;
    background-color: #1a0B2e;
  }
  .about-content{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
  }
  .about-title h2{
    margin-top: 100px;
    color: #f62595;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 20px;
  }

  .about-content p{
    padding: 20px;
  }
  .about-hr{
    max-width: 1200px;
    border: 1px solid rgb(125, 113, 134);
    color: #00FF88;
    margin: 0 auto;
    margin-top: 50px;
  }

  .about-rating{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
  }
  .rating-card{
    width: 240px;  
    padding: 20px;
    box-shadow: 0 0 4px #3c225d;

  }
  .rating-title{
   font-size: 48px;
   color: #00FF88;
   font-weight: bold;
   text-align: center;
  }
  .rating-desc{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
  }







