*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #1a0B2e;
}

/* shared style */
    .container-width{
        width: 1600px;
    }
    .content-width{
        width: 1200px;
    }

    .title-color{
        color: #FFFFFF;
    }
    .background-color{
        background-color: #1a0B2e;
    }
    .rating-color{
        color: #00FF88;
    }

    .para-font{
        color: #FFFFFF;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
    .title-style{
        color: #FFFFFF;
        font-weight: bold;
        font-size: 48px;
        text-align: center;
    }






/* header section */

  /*nav section */

header{
  background: #1a0b2e;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}


nav{
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo{
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.logo span{
  color: #ff2bdc;
}


.nav-item{
  display: flex;
  gap: 30px;
  list-style: none;
}
.nav-item a{
  color: rgb(186, 174, 174);
  text-decoration: none;
  font-size: 16px;
}
.nav-item a:hover{
  color: #FFFFFF;
}


.nav-button{
  background: linear-gradient(135deg,#ff2bdc,#ff8a00);
  border: none;
  padding: 10px 18px;
  border-radius: 30px;
  color: white;
  cursor: pointer;

  transition: all 0.3s ease; 
}
.nav-button:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(255,45,220,0.4);
}

.menu-icon{
  display: none;
  width: 28px;
}
.nav-line{
  border: none;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    #ff2bdc,
    transparent);
    opacity: 0.7;
}




/* hero banner */
#banner-section {
    max-width: 1600px;
    width: 100%;
    height: 556px;
    background-image: url('assets/hero-bg.png'); 
    background-size: cover; 
    background-position: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.mic-circle {
    width: 250px;
    height: 250px;
    margin: 0 auto;

    background-image: url(assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 80px;
}
.mic-circle img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.text-container{
    margin-top: 120px;
    margin-bottom: 30px;
     
}

.badge{
    position: absolute;
    top: 10px;
    right: -15px;
    background-color: #00FF88;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 888px;
    box-shadow: 0 4px 12px rgba(16, 185, 129, 0.4);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.txt-p{
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}
.btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
}
.btn-spotify {
    background: linear-gradient(to right, #8b5cf6, #ec4899);
    color: white;
}
.btn-subscribe {
    background: transparent;
    border: 2px solid #8b5cf6;
    color: #00FF88;
}  /* header section end */




/* main section start */
  #about-section{
    margin-top: 80px;
    margin-bottom: 40px;
    width: 100%;
    background-color: #1a0B2e;
  }
  .about-content{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
  }
  .about-title h2{
    color: #f62595;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 20px;
  }

  .about-content p{
    padding: 20px;
  }
  .about-hr{
    max-width: 1200px;
    border: 1px solid rgb(125, 113, 134);
    color: #00FF88;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .about-rating{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .rating-card{
    width: 240px; 
    margin-top: 30px; 
    margin-bottom: 30px;
    padding: 20px;
    background-color: #250D44;
    box-shadow: 0 0 5px #7e6999;
  }
  .rating-title{
   font-size: 48px;
   color: #00FF88;
   font-weight: bold;
   text-align: center;
  }
  .rating-desc{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
  }



/* why section */
#why-section{
  background:#250D44;
  color:#fff;
  padding:60px 20px;
}
.why-title{
  margin-bottom: 50px ;
}
h3{
  margin-bottom:10px;
}
.grid{
  max-width:1100px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}
.card{
  background:#351165;
  padding:20px;
  border-radius:16px;
}
.card img{
  width:32px;
  margin-bottom:10px;
}
.card p{
  font-size:14px;
  opacity:.8;
}

.big{
  grid-row:span 2;
}
.right{
  grid-column:3;
  grid-row:1;
}
.wide{
  grid-column:1 / span 2;
}
.fill{
  grid-column: 2 / span 2;
}
.full{
  grid-column: 1 / -1;
}











/* features episodes  section*/

  #features-section{
    margin-top: 100px;
    width: 100%;
    background-color: #1a0634;
  }
  .features-title{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 30px;
    color:#FFFFFF;

  }

  .features-card-container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .features-card{
   width: 350px;
   height: 470px;
   background-color: #250D44;
   margin-top: 50px;
   margin-bottom: 50px;
   border-radius: 20px;
   box-shadow: 0px 4px 22px rgb(4, 4, 4);
  }
  .features-title{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .features-desc{
   color: #ccade8;
   text-align: justify;
   padding: 15px;
  }
  .ifm-style{
    border-radius: 20px;
  }
  .clock-para{ 
    color: #00FF88;
    font-weight: bold;
    padding-left: 15px;
  }



  /* the host section */

  #host-section{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

  }

  .host-container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    background-color: #250D44;
    box-shadow: 0px 4px 22px black;
    border-radius: 20px;
  }

  .host-image img{
    padding: 20px;
  }
  .host-desc{
    padding: 20px
  }
  .host-desc h2{
    text-align: left;
  }
  .host-desc p{
    text-align: justify;
  }
 
  .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }



  /*footer  section */
/* footer section */
.footer{
  width: 100%;
  height: 356px;
  max-width: 1600px;
  background-image:
    url("assets/hero-bg.png");

  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #ffffff;
}

.logo{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}
.logo span{
  color: #ff2bdc;
}
.social-links{
  display: flex;
  justify-content: center;
  gap: 20px;

  margin-bottom: 20px;
}
.social-links a{
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.social-links img{
  width: 22px;
}
.copy{
  font-size: 13px;
  opacity: 0.8;
}





 






